# Carpetas de compilación de PyInstaller
build/
dist/
*.spec

# Caché interno de Python
__pycache__/
*.pyc
.pyc

# Archivos temporales o locales de tu app (¡MUY IMPORTANTE!)
licencia_local.json
informe_generado.html

# Imágenes o recursos del sistema operativo
.DS_Store
Thumbs.db
visualizador_personalizado.html
visualizador_viacrucis.html
visualizador_viernes.html
censo_backup_pre_nube_20260330_184913.json
